{% extends "memomemo/layout.html" %}
{% load static %}

{% block body %}

<div class="container p-5">
    <div class="d-flex flex-row align-items-center gap-4 mb-4">   
        <button class="btn btn-secondary my-2"><a class="nav-link" href="{% url 'index' %}">Back</a></button>
        <h1>New task</h1> 
    </div>

  <form action="/new" method="post">
    <div class="form-group">
      {% csrf_token %}
      {{ form }}
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

</div>

{% endblock %}